asgiref==3.6.0
beautifulsoup4==4.12.2
black==23.3.0
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
Django==3.2
django-ckeditor==6.7.0
django-crispy-forms==2.0
django-editorjs==0.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-js-asset==2.1.0
django-taggit==1.2.0
django-taggit-serializer==0.1.7
djangorestframework==3.14.0
idna==3.4
Markdown==3.2.1
mypy-extensions==1.0.0
packaging==23.0
pathspec==0.11.1
Pillow==9.4.0
platformdirs==3.2.0
psycopg2-binary==2.9.5
pytz==2023.2
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.3
tomli==2.0.1
urllib3==2.0.3
