{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="banner banner-secondary" id="top" style="background-image: url(img/banner-image-1-1920x300.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>About Me</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="left-content">
                        {{about.about_headline|safe}}
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="{{about.image.url}}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="container">
        <div class="container">
        {{about.about|safe}}
            
        </div>
    </section>
</main>
{% endblock content %}