{% extends "base.html" %}

{% load humanize %}
{% block content %}

<main>
    <section class="featured-places" style="padding: 0px">
        <div class="container">
          {% if new_comment %}
          <div class="alert alert-success" role="alert">
            <p>Hey! {{new_comment.name}}, Thanks for the comment 😎</p>
          </div>
          {% endif %}
            {% comment %} <div   class="form-group">
                {% if post.image %}
                <img src="{{post.image.url}}" class="img-responsive" alt="">
                {% endif %}
            </div> {% endcomment %}

            {{post.body|safe}}
            <h4>Leave a comment</h4>

            <div class="row">
                {% include "../components/comment_form.html" %}

                {% comment %} <div class="col-md-4">
                  <div class="left-content">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur. Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>

                    <br> 

                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div>
                </div> {% endcomment %}
            </div>
            {% include "../components/comments.html" %}
        </div>

    </section>

    
</main>


{% endblock content %}