{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block extra_styles %}{% endblock extra_styles %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
   {% include "utils/navigation.html" %}

    <div class="container">
        <div class="main-content">
            <div class="content">
                
                {% block content %}
                  
                {% endblock content %}
            </div>
        </div>
       {% include "utils/sidebar.html" %}

    </div>

{% include "utils/footer.html" %}


{% block scripts %}{% endblock scripts %}


</body>

</html>

