 <!-- Fixed sidebar -->
 <div class="sidebar">
    <div class="sidebar-content">
        <div class="recent-posts">
            <h2>Recent Posts</h2>
            {% for post in recent_posts %}
                <div class="post">
                    <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
                </div>
            {% endfor %}
        </div>
        <div class="categories">
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Machine Learning</a></li>
            </ul>
        </div>
    </div>
</div>