{% load static %}

<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="left-content">
                    <br>
                    <h4>About Me</h4>
                    <p>My name is MICLEM ABASIE, I'm a software engineering student at the University of Bamenda, Cameroon, with 4 years of experience working in IT. I started my career as a hardware repair technician, but my passion for programming led me to pursue a degree in software engineering. I'm passionate about learning and growing as a software engineer, and I'm always looking for new challenges and opportunities to apply my skills. 

                    I'm currently mostly working on Python and Django projects including other technologies as well <a href="{% url 'projects:project_list' %}">see my projects here</a>, and I'm excited to build web applications that make a difference in the world. I'm also passionate about sharing my knowledge with others, and I'm building this website to post articles and tutorials about my learning journey.</p>
                    <div class="blue-button">
                        <a href="{% url 'about' %}">Discover More</a>
                    </div>

                    <br>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{% static 'img/about-1-720x480.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>