{% load static %}

<section class="featured-places">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Latest blog posts</span>
                    <h2>Explore Tech related articles.</h2>
                </div>
            </div> 
        </div> 
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            {% if post.image %}
                            <img src="{{post.image.url}}" alt="">
                            {% endif %}
                        </div>

                        <div class="overlay-content">
                         <strong title="Author"><i class="fa fa-user"></i> {{post.author.username}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 
                            {% with created=post.created %}
                            {{created.day}}/{{created.month}}/{{created.year}} {{created.hour}}:{{created.minute}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            {% endwith %}
                         <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>{{post.title}}</h4>

                        <p>{{post.highlight}} </p>

                        <div class="text-button">
                            <a href="{% url 'blog:post_detail' post.created.year post.created.month post.created.day post.slug %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
