{% load static %}

<section class="featured-places">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Latest blog posts</span>
                    <h2>Lorem ipsum dolor sit amet ctetur.</h2>
                </div>
            </div> 
        </div> 
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/blog-1-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consectetur assumenda nam facere voluptatibus totam veritatis. </p>

                        <div class="text-button">
                            <a href="blog-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/blog-2-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consectetur assumenda nam facere voluptatibus totam veritatis. </p>

                        <div class="text-button">
                            <a href="blog-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/blog-3-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consectetur assumenda nam facere voluptatibus totam veritatis. </p>

                        <div class="text-button">
                            <a href="blog-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
