
<footer>
    <div class="container">
        <div class="row">
            {% comment %} <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img src="img/footer_logo.png" alt="Venue Logo">
                    </div>
                    <p>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa. Integer sit amet posuere tellustea dictumst.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div> {% endcomment %}
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="{% url 'index' %}"><i class="fa fa-stop"></i>Home</a></li>
                                <li><a href="{% url 'about' %}"><i class="fa fa-stop"></i>About</a></li>
                                <li><a href="{% url 'contact' %}"><i class="fa fa-stop"></i>Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="{% url 'projects:project_list' %}"><i class="fa fa-stop"></i>Projects</a></li>
                                <li><a href="{% url 'blog:post_list' 1 %}"><i class="fa fa-stop"></i>Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p><i class="fa fa-map-marker"></i> 212 Bamenda Cameroon, ABC</p>
                    <ul>
                        <li><span>Phone:</span><a href="#">+237 670 181 442</a></li>
                        <li><span>Email:</span><a href="#">miclemabasie3@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <p>Copyright © 2023 AMIKOM - All Rights Reserved</p>
</div>