{% load static %}


<section class="banner" id="top" style="background-image: url( {% static 'img/hero.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <div class="blue-button">
                        <a href="contact.html">Get in Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>