{% load static %}

<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html"><div class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="Venue Logo">
                    </div></a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="{% url 'index' %}">Home</a></li>

                            <li><a href="{% url 'projects:project_list' %}">Projects</a></li>
                            <li><a href="{% url 'blog:post_list' 1 %}">Blog</a></li>


                            <li>
                                <a href="{% url 'about' %}">About</a>
                                {% comment %} <ul class="sub-menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                    <li><a href="terms.html">Terms</a></li>
                                </ul> {% endcomment %}
                            </li>

                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>