{% load static %}

<section class="featured-places">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Most Recent Work</span>
                    <h2>Lorem ipsum dolor sit amet ctetur.</h2>
                </div>
            </div> 
        </div> 

        <div class="row">
            {% for Work in recent_works %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="{{work.image.url}}" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> {{work.created.day}}-{{work.created.month}}-{{work.created.year}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>{{work.title}}</h4>

                        <p>{% for tech in work.get_stack %}{{tech}}/{% endfor %}</p>
                        

                        <p><span><strong><sup>🕸️</sup>Live Peview</strong></span></p>

                        <div class="text-button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
