{% load static %}

<section class="featured-places">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Most Recent Work</span>
                    <h2>Lorem ipsum dolor sit amet ctetur.</h2>
                </div>
            </div> 
        </div> 

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-1-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p> Medical / Health Jobs</p>

                        <p><span><strong><sup>$</sup>60 000</strong></span></p>

                        <div class="text-button">
                            <a href="job-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-2-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>
                    
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p> Medical / Health Jobs</p>

                        <p><span><strong><sup>$</sup>60 000</strong></span></p>

                        <div class="text-button">
                            <a href="job-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-3-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>
                    
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p> Medical / Health Jobs</p>

                        <p><span><strong><sup>$</sup>60 000</strong></span></p>

                        <div class="text-button">
                            <a href="job-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-4-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>

                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p> Medical / Health Jobs</p>

                        <p><span><strong><sup>$</sup>60 000</strong></span></p>

                        <div class="text-button">
                            <a href="job-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-5-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>
                    
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p> Medical / Health Jobs</p>

                        <p><span><strong><sup>$</sup>60 000</strong></span></p>

                        <div class="text-button">
                            <a href="job-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-6-720x480.jpg" alt="">
                        </div>

                        <div class="overlay-content">
                         <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                         <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                        </div>
                    </div>
                    
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p> Medical / Health Jobs</p>

                        <p><span><strong><sup>$</sup>60 000</strong></span></p>

                        <div class="text-button">
                            <a href="job-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
