{% load static %}


<section class="popular-places" id="popular">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Testimonials</span>
                    <h2>Lorem ipsum dolor sit amet</h2>
                </div>
            </div> 
        </div> 

        <div class="owl-carousel owl-theme">
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_1.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_2.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_3.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_4.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_5.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_1.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="img/popular_item_2.jpg" alt="">
                    <div class="text-content">
                        <h4>John Doe</h4>
                        <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                    </div>
                    <div class="plus-button">
                        <a href="testimonials.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>